@model IEnumerable<Inovate.Web.Models.ProjectViewModel>

@{
    ViewBag.Title = "Projects";
}

<h2>Projetos</h2>

<div class="row">
    @foreach (var item in Model)
    {
        var barpercentage = (item.CurrentCollected / item.Required * 100).ToString();
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="@item.ImageUrl" alt="@item.Title" />
                <div class="caption">
                    <h3>@item.Title</h3>
                    <p>por @item.Owner </p>
                    <p>@item.ShortDescription</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@item.CurrentCollected" aria-valuemin="0" aria-valuemax="@item.Required" style="width: @barpercentage%">
                            <span class="sr-only">@barpercentage% Completo</span>
                        </div>
                    </div>
                    <p><a href="@Url.Action("Project", "Project", new { projectId = item.Id })" class="btn btn-default">Detalhes</a></p>
                </div>
            </div>
        </div>
    }
</div>
