@model Inovate.Web.Models.ProjectViewModel

@{
    ViewBag.Title = "Project";
}

<h2>Project</h2>

<div class="NS-projects-content">
    <div class="col-md-9">
        <div data-has-video="true" id="video-section">
            <img src="http://lorempixel.com/600/500" alt="@Model.Title" />
        </div>
        <div data-project-state="live" id="about">
            @Model.Desciption
        </div>
    </div>
    <div class="col-md-3">
        <div id="stats">
            <h5>
                @Model.Backers Apoiadores
            </h5>
            <h5>
                R$@Model.CurrentCollected de R$ @Model.Required
            </h5>
            <div class="num">10</div>
            <span class="text">dias faltando</span>
        </div>
    </div>

    <div class="NS-projects-rightcol-projectby" id="project-by">
        <h3> Um projeto de @Model.Owner</h3>
    </div>

</div>


